<h3>Update Book</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Title</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.title" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Author</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.author" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.description" name="emailId">
    </div>
    <div class="form-group">
      <label for="name">Thumnail</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.thumnail" name="emailId">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
