<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="employees" class="nav-link">BMS</a>
  </li>
    <li class="nav-item">
        <a routerLink="book" class="nav-link" routerLinkActive="active">{{'Book' | translate}}</a>
    </li>
    <li class="nav-item">
        <a routerLink="category" class="nav-link" routerLinkActive="active">{{'Category' | translate}}</a>
    </li>
    <li class="nav-item">
      <a  class="nav-link" >
      <select  #locale (change)="changeLocale(locale.value)">
        <option class ="text"value="es">English</option>
        <option class="text"value="ar">ភាសាខ្មែរ</option>
      </select>
    </a>
  </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{'Book_Management_System' | translate}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


