<div class="panel panel-primary">
  <div class="panel-heading">
  <button (click)="goToPage()" class="btn btn-primary btn_add">{{'Add_New' | translate}}</button>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
          <tr>
          <th>{{'Title' | translate}}</th>
          <th>{{'Actions' | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categorys  | paginate: {id:'listing_pagination', itemsPerPage: 5, currentPage: p }">
          <td>{{category.title}}</td>
          <td><button (click)="deleteCategory(category.id)" class="btn btn-danger">{{'Delete' | translate}}</button>
              <button (click)="updateCategory(category.id)" class="btn btn-info" style="margin-left: 10px">{{'Update' | translate}}</button>
              <button (click)="categoryDetails(category.id)" class="btn btn-info" style="margin-left: 10px">{{'Details' | translate}}</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <pagination-controls id="listing_pagination" max-size="5" directionLinks="true" (pageChange)="p=$event"></pagination-controls> 
   </div> 
  </div>
</div>
