<h2>Category Details</h2> 

<hr/>
<div *ngIf="category">
  <div>
    <label><b>Title: </b></label> {{category.title}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Category List</button><br>