
<div  style="width: 400px;">
  <form  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="displayFieldCss('title')">
      <label for="title">Title</label>
      <input type="text" class="form-control" formControlName="title" id="title" required [(ngModel)]="book.title"  name="title">
      <app-field-error-display [displayError]="isFieldValid('title')" errorMsg="Please inform your title">
      </app-field-error-display>
    </div>

    <div class="form-group" [ngClass]="displayFieldCss('author')">
      <label for="author" >Author</label>
      <input type="text" class="form-control" formControlName="author" id="author" required [(ngModel)]="book.author" name="author">
      <app-field-error-display [displayError]="isFieldValid('author')" errorMsg="Please inform your author">
      </app-field-error-display>
    </div>

    <div class="form-group"[ngClass]="displayFieldCss('description')">
      <label for="description" >Description</label>
      <input type="text" class="form-control" formControlName="description" id="description" required [(ngModel)]="book.description" name="description">
      <app-field-error-display [displayError]="isFieldValid('description')" errorMsg="Please inform your thumnail">
      </app-field-error-display>
    </div>
    <div class="form-group"[ngClass]="displayFieldCss('thumnail')">
      <label for="thumnail" >Thumnail</label>
      <input type="text" class="form-control" formControlName="thumnail" id="thumnail" required [(ngModel)]="book.thumnail" name="thumnail">
      <app-field-error-display [displayError]="isFieldValid('thumnail')" errorMsg="Please inform your thumnail">
      </app-field-error-display>
    </div>
    <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>

