<h3>Update Category</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="category.title" name="title">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

