<h2>Book Details</h2> 

<hr/>
<div *ngIf="book">
  <div>
    <label><b>Title: </b></label> {{book.title}}
  </div>
  <div>
    <label><b>Author: </b></label> {{book.author}}
  </div>
  <div>
    <label><b>Description: </b></label> {{book.description}}
  </div>  
  <div>
    <label><b>Thumnail: </b></label> {{book.thumnail}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Book List</button><br>
